#target {
    background-color: rgb(88, 113, 181);
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

#hit {
    background-color: rgb(67, 146, 74);
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}


#miss {
    border: 10px solid rgb(122, 77, 77);
}

#false_alarm {
    background-color: rgb(122, 77, 77);
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}


#rounds_label{
    font-size: 150%;
}

#round_count{
    font-size: 150%;
}

#score_label{
    font-size: 150%;
}

#score_value{
    font-size: 150%;
}

#submit_label{
    font-size: 200%;
    color: black;
}

#start_label{
    font-size: 200%;
    color: black;
}